Nav.Link{
    color: blue;
}
.Footer{
    background-color: rgb(13,110,253);
    color: white;
   padding: 2rem 0;
}

.footerheader{
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}
a{
    color: red;
}
.fa-brands{
    margin-right: 15px;
}
.fa-solid{
margin-right: 5px;
}
.last-footer{
    background-color: black;
    text-align: center;
    padding: 0.5rem 0;

}
.last-footer p{
   margin-bottom: 0;
   font-size: 1.2rem;
   font-weight: 700;
   color: white;

}
.ft-1{
    text-align: center;
    margin-bottom: 10px;
}
.ft-2{
    text-align: center;
    margin-bottom: 10px;
}
.Carouselimages{
    width: fit-content;
}
.textAfterCarousel{
    background-color: rgb(99, 99, 99);
    color: white;
    text-align: center;
    padding: 0.5rem 0;

}
.ourServicesText{
    font-family: serif;
    font-weight: 100;
}